#actor_img{
  height:400px;
  margin-right: 20px;
}

#movie_img{
  height:400px;
  margin-right: 20px;
  margin-top: 10px;
}

#profession{
  color:#333;
  font-size: 30px;
}

#genre{
  color:#333;
  font-size: 20px;
}

body{
  margin-left: 175px;
  margin-right: 175px;
  background-color: rgb(200,200,200);
}

html {
  font-family: "Verdana";
  background-color: rgb(150,150,150);
}

#toppage{
  background-color: #333;
}

#bottompage{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#pagetitle{
  color: white;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 20px;
}

/* unvisited link */
a:link {
  color: rgb(50,50,50);
}

/* visited link */
a:visited {
  color: rgb(50,50,50);
}

/* mouse over link */
a:hover {
  color: rgb(55, 97, 166);
}

/*Navigation bar---------------------------------------------------------------*/
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navigation {
  float: left;
}

li.navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navigation a:hover {
  background-color: rgb(219, 187, 4);
}


/*-----------------------------------------------------------------------------*/

.starchecked {
  color: rgb(219, 187, 4);
  text-shadow: 0 0 3px #000;
}

.starnotchecked {
  color: rgb(100,100,100);
}

.hide{
  display:none;
}

.movie_score {
  font-size: 30px;
  color: rgb(50,50,50);
}

#actor_form {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  padding-top: 0px;
  display: inline-block;
}
#movie_form {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  padding-top: 0px;
  display: inline-block;
}
#director_form {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  padding-top: 0px;
  display: inline-block;
}

div.bio{
  border-bottom: 1px solid rgb(100,100,100);
  padding: 20px;
  margin-top: 0px;
}

div.age{
  border-top: 1px solid rgb(100,100,100);
  border-bottom: 1px solid rgb(100,100,100);
  padding: 20px;
  margin-top: 10px;
}

div.known{
  border-bottom: 1px solid rgb(100,100,100);
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
}

div.cast{
  border-bottom: 1px solid rgb(100,100,100);
  padding: 20px;
  padding-top: 0px;
}

div.description{
  border-top: 1px solid rgb(100,100,100);
  border-bottom: 1px solid rgb(100,100,100);
  padding: 20px;
  padding-top: 0px;
  margin-top: 10px;
}

div.director{
  border-bottom: 1px solid rgb(100,100,100);
  padding: 20px;
  margin-top: 0px;
}

div.reviews{
  border-bottom: 1px solid rgb(100,100,100);
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
}

div.write_review{
  border-bottom: 1px solid rgb(100,100,100);
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
}

#h3_director {
  display:inline;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
#wish {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Style the list items */
#wish li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#wish li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#wish li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#wish li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#wish li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
#wish .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgb(219, 187, 4);
  color: white;
}

.user {
    position: relative;
}
.user span {
  position: absolute;
  bottom: 30px;
  margin-left: 20px;
}

.user > img{
  border-radius: 50%;
  border:1px solid rgb(219, 187, 4);
}

.user > img,
.user > span,
.user > span > i
.user > span > div{
    display: inline-block;
}


#comment{
  border-style: inset;
  padding: 10px;
}

#listuser {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#listuser li {
  border: 1px solid rgb(180,180,180); /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color:  rgb(220,220,220); /* Add a grey background color */
  padding: 12px; /* Add some padding */
}

.fa.fa-exclamation{
  color:red;
}

.notchecked{
  color: rgb(100,100,100);
}

.checked{
  color: rgb(219, 187, 4);
  text-shadow: 0 0 3px #000;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.column {
  float: left;
  width: 25%;
  padding: 1%;
  position: relative;
  display: inline-block;
}

.column img{
  border-radius: 8px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.play-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  cursor: pointer;
}

.play-button:after {
  content: '';
  display: block;
  position: absolute;
  left: 22px;
  top: 7px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.play-button:hover {
  background-color: black;
}

/*-----------------------------------------------------------------------------*/

body{
    background-color: #f0f0f0;
}

.titleSearchlv{
    padding-top: 10px;
    margin-top: 130px;
}

.mainSearchTitle{
    margin-left: 39.5%;
    font-size: 30pt;
    display: inline-block;
    position: center;
}

#titleDirlv{
    margin-left: 38%;
}

#txt1lv, #txt2lv, #txt3lv{
    border: 1pt solid black;
    margin-bottom: 1%;
    margin-right: 0.5%;
    width: 30%;
    margin-left: 30%;
    height: 20pt;
    font-size: 14pt;
}

.searchlv{
    border: 1pt solid black;
    margin-left: 41%;
    height: 100%;
    width: 10%;
    text-align: center;
    font-size: 15pt;
    background-color: #333;
    color:white;


}

.errorSearch{
    color: red;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    margin-left: 70pt;
    font-size: 15pt;
}

#searchBy{
    text-align-last: center;
    width: 6%;
    background-color: #333333;
    color: white;
}

::placeholder{
    font-style: italic;
    font-weight: lighter;
    font-size: 12pt;
}

.otherSearchlv{

    box-sizing: content-box;
    background-color: #333;
    color:white;
    height: 40pt;
    margin-top: 10%;

}

#alv{
    color:white;
    text-decoration: none;
}

#speciallv, #special2lv, #special3lv{
    text-decoration: none;
    color: #f5c518;
}

.inner{
    display: inline-block;
    position: center;
    margin-top: 10pt;
    margin-right: 10pt;
    margin-left: 10pt;
    text-decoration: none;
    color: white;
}

/*----------------------------------------------------*/
#loginf {
  height: 200px;
  width: 500px;

}

#h{
  background-color: rgb(150,150,150);
}

#tusername, #tname, #tsurname, #temail, input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border:1px solid rgb(219, 187, 4);
}

#loginbtn {
  background-color: rgb(219, 187, 4);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#loginbtn:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
  border:1px solid rgb(219, 187, 4);
}

.containeru {
  padding: 16px;
}

span.password {
  float: right;
  padding-top: 16px;
}

#regist{
  background-color: rgb(219, 187, 4);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#id1, #id2{
  display: none;
}

#loginerror{
  color: rgb(161, 6, 6);
  font-style: italic;
}

#thank_you{
  border-style: inset;
  padding: 10px;
}
